@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4nzk3m');
  src:  url('fonts/icomoon.eot?4nzk3m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4nzk3m') format('truetype'),
    url('fonts/icomoon.woff?4nzk3m') format('woff'),
    url('fonts/icomoon.svg?4nzk3m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Chevron-left-1:before {
  content: "\e93e";
}
.icon-Icon-1:before {
  content: "\e900";
}
.icon-Icon-2:before {
  content: "\e901";
}
.icon-Icon-3:before {
  content: "\e902";
}
.icon-Icon-4:before {
  content: "\e903";
}
.icon-Icon-5:before {
  content: "\e904";
}
.icon-Icon-6:before {
  content: "\e905";
}
.icon-Icon-7:before {
  content: "\e906";
}
.icon-Icon-8:before {
  content: "\e907";
}
.icon-Icon-9:before {
  content: "\e908";
}
.icon-Icon-10:before {
  content: "\e909";
}
.icon-Icon-11:before {
  content: "\e90a";
}
.icon-Icon-12:before {
  content: "\e90b";
}
.icon-Icon-13:before {
  content: "\e90c";
}
.icon-Icon-14:before {
  content: "\e90d";
}
.icon-Icon-15:before {
  content: "\e90e";
}
.icon-Icon-16:before {
  content: "\e90f";
}
.icon-Icon-17:before {
  content: "\e910";
}
.icon-Icon-18:before {
  content: "\e911";
}
.icon-Icon-19:before {
  content: "\e912";
}
.icon-Icon-20:before {
  content: "\e913";
}
.icon-Icon-21:before {
  content: "\e914";
}
.icon-Icon-22:before {
  content: "\e915";
}
.icon-Icon-23:before {
  content: "\e916";
}
.icon-Icon-24:before {
  content: "\e917";
}
.icon-Icon-25:before {
  content: "\e918";
}
.icon-Icon-26:before {
  content: "\e919";
}
.icon-Icon-27:before {
  content: "\e91a";
}
.icon-Icon-28:before {
  content: "\e91b";
}
.icon-Icon-29:before {
  content: "\e91c";
}
.icon-Icon-30:before {
  content: "\e91d";
}
.icon-Icon-31:before {
  content: "\e91e";
}
.icon-Icon-32:before {
  content: "\e91f";
}
.icon-Icon-33:before {
  content: "\e920";
}
.icon-Icon-34:before {
  content: "\e921";
}
.icon-Icon-35:before {
  content: "\e922";
}
.icon-Icon-36:before {
  content: "\e923";
}
.icon-Icon-37:before {
  content: "\e924";
}
.icon-Icon-38:before {
  content: "\e925";
}
.icon-Icon-39:before {
  content: "\e926";
}
.icon-Icon-40:before {
  content: "\e927";
}
.icon-Icon-41:before {
  content: "\e928";
}
.icon-Icon-42:before {
  content: "\e929";
}
.icon-Icon-43:before {
  content: "\e92a";
}
.icon-Icon-44:before {
  content: "\e92b";
}
.icon-Icon-45:before {
  content: "\e92c";
}
.icon-Icon-46:before {
  content: "\e92d";
}
.icon-Icon-47:before {
  content: "\e92e";
}
.icon-Icon-48:before {
  content: "\e92f";
}
.icon-Icon-49:before {
  content: "\e930";
}
.icon-Icon-50:before {
  content: "\e931";
}
.icon-Icon-51:before {
  content: "\e932";
}
.icon-Icon-52:before {
  content: "\e933";
}
.icon-Icon-53:before {
  content: "\e934";
}
.icon-Icon-54:before {
  content: "\e935";
}
.icon-Icon-55:before {
  content: "\e936";
}
.icon-Icon-56:before {
  content: "\e937";
}
.icon-Icon-57:before {
  content: "\e938";
}
.icon-Icon-58:before {
  content: "\e939";
}
.icon-Icon-59:before {
  content: "\e93a";
}
.icon-Icon-60:before {
  content: "\e93b";
}
.icon-Icon-61:before {
  content: "\e93c";
}
.icon-Icon:before {
  content: "\e93d";
}
